USE [master]
GO
/****** Object:  Database [PORTFOLIO_TRACKER_API_V2]    Script Date: 27-Mar-26 15:28:41 ******/
CREATE DATABASE [PORTFOLIO_TRACKER_API_V2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PORTFOLIO_TRACKER_API_V2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PORTFOLIO_TRACKER_API_V2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PORTFOLIO_TRACKER_API_V2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PORTFOLIO_TRACKER_API_V2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PORTFOLIO_TRACKER_API_V2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PORTFOLIO_TRACKER_API_V2]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 27-Mar-26 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Accounts](
	[ID] [uniqueidentifier] NOT NULL,
	[InvestorID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[BrokerAccountNo] [varchar](50) NULL,
	[Currency] [varchar](10) NOT NULL,
	[InvestedBalance] [decimal](38, 18) NOT NULL,
	[CurrentBalance] [decimal](38, 18) NOT NULL,
	[TotalBalance] [decimal](38, 18) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Accounts] UNIQUE NONCLUSTERED 
(
	[InvestorID] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccountSnapshots]    Script Date: 27-Mar-26 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountSnapshots](
	[ID] [uniqueidentifier] NOT NULL,
	[AccountID] [uniqueidentifier] NOT NULL,
	[Cycle] [varchar](10) NOT NULL,
	[TotalBalance] [decimal](38, 18) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_AccountSnapshots] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 27-Mar-26 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[ID] [uniqueidentifier] NOT NULL,
	[InvestorID] [uniqueidentifier] NOT NULL,
	[EntityName] [varchar](20) NOT NULL,
	[EntityID] [uniqueidentifier] NOT NULL,
	[Action] [varchar](10) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[IpAddress] [varchar](50) NOT NULL,
	[UserAgent] [varchar](200) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Holdings]    Script Date: 27-Mar-26 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holdings](
	[ID] [uniqueidentifier] NOT NULL,
	[AccountID] [uniqueidentifier] NOT NULL,
	[TickerID] [uniqueidentifier] NOT NULL,
	[InvestmentCost] [decimal](38, 18) NOT NULL,
	[Quantity] [decimal](38, 18) NOT NULL,
	[TotalInvestmentCost] [decimal](38, 18) NOT NULL,
	[TargetBuy] [decimal](38, 18) NULL,
	[TargetSell] [decimal](38, 18) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Holdings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Holdings] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC,
	[TickerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Investors]    Script Date: 27-Mar-26 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Investors](
	[ID] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[HashPassword] [varchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[IsActivated] [bit] NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Investors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Investors] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tickers]    Script Date: 27-Mar-26 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tickers](
	[ID] [uniqueidentifier] NOT NULL,
	[TickerTypeID] [uniqueidentifier] NOT NULL,
	[Symbol] [varchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MarketPrice] [decimal](38, 18) NOT NULL,
	[Currency] [varchar](10) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Tickers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tickers] UNIQUE NONCLUSTERED 
(
	[Symbol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TickerTypes]    Script Date: 27-Mar-26 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TickerTypes](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_TickerTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_TickerTypes] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 27-Mar-26 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transactions](
	[ID] [uniqueidentifier] NOT NULL,
	[AccountID] [uniqueidentifier] NOT NULL,
	[TickerID] [uniqueidentifier] NOT NULL,
	[TransactionType] [varchar](20) NOT NULL,
	[Price] [decimal](38, 18) NULL,
	[Quantity] [decimal](38, 18) NULL,
	[GrossAmount] [decimal](38, 18) NULL,
	[Fee] [decimal](38, 18) NULL,
	[FeeRate] [decimal](18, 10) NULL,
	[PIT] [decimal](38, 18) NULL,
	[PITRate] [decimal](18, 10) NULL,
	[NetAmount] [decimal](38, 18) NULL,
	[TradeDate] [date] NOT NULL,
	[RealizedPnL] [decimal](38, 18) NULL,
	[RealizedPnLRate] [decimal](18, 10) NULL,
	[PreQuantity] [decimal](38, 18) NOT NULL,
	[PreInvestmentCost] [decimal](38, 18) NOT NULL,
	[PreTotalInvestmentCost] [decimal](38, 18) NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_InvestedBalance]  DEFAULT ((0)) FOR [InvestedBalance]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_CurrentBalance]  DEFAULT ((0)) FOR [CurrentBalance]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_TotalBalance]  DEFAULT ((0)) FOR [TotalBalance]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AccountSnapshots] ADD  CONSTRAINT [DF_AccountSnapshots_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[AccountSnapshots] ADD  CONSTRAINT [DF_AccountSnapshots_TotalBalance]  DEFAULT ((0)) FOR [TotalBalance]
GO
ALTER TABLE [dbo].[AccountSnapshots] ADD  CONSTRAINT [DF_AccountSnapshots_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AccountSnapshots] ADD  CONSTRAINT [DF_AccountSnapshots_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_Timestamp]  DEFAULT (sysdatetime()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Holdings] ADD  CONSTRAINT [DF_Holdings_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Holdings] ADD  CONSTRAINT [DF_Holdings_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Holdings] ADD  CONSTRAINT [DF_Holdings_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Holdings] ADD  CONSTRAINT [DF_Holdings_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Investors] ADD  CONSTRAINT [DF_Investors_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Investors] ADD  CONSTRAINT [DF_Investors_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Investors] ADD  CONSTRAINT [DF_Investors_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Investors] ADD  CONSTRAINT [DF_Investors_IsActivated]  DEFAULT ((0)) FOR [IsActivated]
GO
ALTER TABLE [dbo].[Investors] ADD  CONSTRAINT [DF_Investors_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Tickers] ADD  CONSTRAINT [DF_Tickers_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Tickers] ADD  CONSTRAINT [DF_Tickers_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tickers] ADD  CONSTRAINT [DF_Tickers_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Tickers] ADD  CONSTRAINT [DF_Tickers_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TickerTypes] ADD  CONSTRAINT [DF_TickerTypes_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[TickerTypes] ADD  CONSTRAINT [DF_TickerTypes_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TickerTypes] ADD  CONSTRAINT [DF_TickerTypes_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TickerTypes] ADD  CONSTRAINT [DF_TickerTypes_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_TradeDate]  DEFAULT (CONVERT([date],sysdatetime())) FOR [TradeDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_PreQuantity]  DEFAULT ((0)) FOR [PreQuantity]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_PreInvestmentCost]  DEFAULT ((0)) FOR [PreInvestmentCost]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_PreTotalInvestmentCost]  DEFAULT ((0)) FOR [PreTotalInvestmentCost]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Investors] FOREIGN KEY([InvestorID])
REFERENCES [dbo].[Investors] ([ID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Investors]
GO
ALTER TABLE [dbo].[AccountSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_AccountSnapshots_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([ID])
GO
ALTER TABLE [dbo].[AccountSnapshots] CHECK CONSTRAINT [FK_AccountSnapshots_Accounts]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Investors] FOREIGN KEY([InvestorID])
REFERENCES [dbo].[Investors] ([ID])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Investors]
GO
ALTER TABLE [dbo].[Holdings]  WITH CHECK ADD  CONSTRAINT [FK_Holdings_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([ID])
GO
ALTER TABLE [dbo].[Holdings] CHECK CONSTRAINT [FK_Holdings_Accounts]
GO
ALTER TABLE [dbo].[Holdings]  WITH CHECK ADD  CONSTRAINT [FK_Holdings_Tickers] FOREIGN KEY([TickerID])
REFERENCES [dbo].[Tickers] ([ID])
GO
ALTER TABLE [dbo].[Holdings] CHECK CONSTRAINT [FK_Holdings_Tickers]
GO
ALTER TABLE [dbo].[Tickers]  WITH CHECK ADD  CONSTRAINT [FK_Tickers_TickerTypes] FOREIGN KEY([TickerTypeID])
REFERENCES [dbo].[TickerTypes] ([ID])
GO
ALTER TABLE [dbo].[Tickers] CHECK CONSTRAINT [FK_Tickers_TickerTypes]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Accounts]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Tickers] FOREIGN KEY([TickerID])
REFERENCES [dbo].[Tickers] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Tickers]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CK_Accounts] CHECK  (([InvestedBalance]>=(0) AND [CurrentBalance]>=(0) AND [TotalBalance]>=(0)))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CK_Accounts]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_Total] CHECK  (([TotalBalance]=([InvestedBalance]+[CurrentBalance])))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CK_Accounts_Total]
GO
ALTER TABLE [dbo].[AccountSnapshots]  WITH CHECK ADD  CONSTRAINT [CK_AccountSnapshots] CHECK  (([TotalBalance]>=(0)))
GO
ALTER TABLE [dbo].[AccountSnapshots] CHECK CONSTRAINT [CK_AccountSnapshots]
GO
ALTER TABLE [dbo].[Holdings]  WITH CHECK ADD  CONSTRAINT [CK_Holdings] CHECK  (([InvestmentCost]>=(0) AND [TotalInvestmentCost]>=(0) AND [Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Holdings] CHECK CONSTRAINT [CK_Holdings]
GO
ALTER TABLE [dbo].[Tickers]  WITH CHECK ADD  CONSTRAINT [CK_Tickers_MarketPrice] CHECK  (([MarketPrice]>(0)))
GO
ALTER TABLE [dbo].[Tickers] CHECK CONSTRAINT [CK_Tickers_MarketPrice]
GO
USE [master]
GO
